<div class="flex justify-center items-center h-screen">
    <h1>Esperando confirmación</h1>
    <br>
    <div class="w-4 h-4 bg-gray-700 rounded-full mx-1 animate-bounce"></div>
    <div class="w-4 h-4 bg-gray-500 rounded-full mx-1 animate-bounce"></div>
    <div class="w-4 h-4 bg-gray-400 rounded-full mx-1 animate-bounce"></div>
</div>