<head>
    <link rel="stylesheet" href="/superAdm.css">
</head>
 
<div class="botones">

    <h1>Bienvenido <br> SuperAdministrador {{nombre}}</h1>

    <li class="admsBot">
        <a class="iperV" href="/administra"> Administradores </a>
    </li>

</div>